@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.black-toast {
  background-color: black;
  color: white;
}

.header{
  display: flex;
  align-items: center;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight{
  background: linear-gradient(90deg, #ff433e, #ef8534);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.summary{
  max-width: 640px;
  font-size: 20px;
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
} 
.header h1{
  font-family: sans-serif;
  font-weight: 800;
  background: linear-gradient(90deg, #F0B90B, #F0B90B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 400px;
  text-decoration: underline;
}

.header img{
  padding: 25px;
}

.value{
  font-family: sans-serif;
  font-weight: 800;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  margin-top: -10px;
}

.setMsg{
  padding: 8px 20px;
  border-radius: 10px;
  border: 0px solid grey;
}

.setMsg input:active{
  border-color: #FAD338;
}

.detail{
  color: rgba(255, 255, 255, 0.487);
  font-size: 12px;
}

.button{
  background:linear-gradient(90deg, #FAD338, #F2BC07);
  color: #0C0E12;
  font-family: sans-serif;
  font-weight: 600;
  margin: 12px;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #713c00aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #713c00aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
