.balance-account-selector{
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;
}

.toggle-switch{
    display: flex;
    position: absolute;
    left: 20px;
    top: 10px;
}

.balance-account-selector-btn{
    margin-right: 10px;
}

.assets-table{
    margin-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.headline-toggle-headline{
    padding-right: 20px;
}

.headline-toggle{
    display: flex;
}

.table-and-nfts{
    display: flex;
}

.table-and-nfts__table{
    flex: 1.7;
}

.table-and-nfts__nfts{
    padding: 40px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.toggle-switch-title{
    padding-left: 20px;
}